* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #343434;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.5;
  color: #343434;
  
}
span {
  font-size: 13px;
}

p {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
}
input {
  height: 45px;
}

input:focus {
  box-shadow: none;
  outline: none;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.form-select {
  height: 45px;
  color: #bbbbbb !important;
  font-size: 13px;
}

input::placeholder {
  color: #bbbbbb !important;
  font-size: 13px;
}
label {
  font-size: 15px;
  color: #343434;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


